#cards {
  border: solid 0.2em var(--cards-border-color);
  padding: 0.5em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(23em, 100%), 1fr));
  gap: 0.5em;
  border-radius: 1em;
}

.cards {
  background-color: var(--card-bg);
  /* border: solid 0.5em hsl(210, 30%, 30%); */

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--text-color);
  padding: 0.5em;
  text-decoration: none;

  border-radius: 0.5em;
}

.cards:hover {
  background-color: var(--card-bg-hover);
}

.cards:focus-visible {
  background-color: var(--card-bg-focus-visible);
}

.cards__image {
  width: 100%;
  border-radius: 0.3em;
}

.cards__title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* .cards__description {
} */
