@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-variable.ttf);
}

:root {
  color-scheme: dark;
  --bg-color-outside: hsl(200, 5%, 5%);
  --bg-color: hsl(200, 10%, 10%);
  --text-color: hsl(0, 0%, 100%);
  --accessibility-focus-color: hsl(0, 0%, 100%);

  /* Buttons */
  --button-bg-color: hsla(0, 0%, 0%, 0);
  --button-border-color: hsl(230, 100%, 90%);
  --button-text-color: hsl(0, 0%, 100%);

  --button-bg-color-hover: hsl(230, 100%, 92%);
  --button-border-color-hover: transparent;
  --button-text-color-hover: hsl(0, 0%, 0%);

  --button-border-color-focus-active: transparent;
  --button-bg-color-focus-active: hsl(230, 78%, 82%);
  --button-text-color-focus-active: hsl(0, 0%, 0%);

  /* Links */
  --link-color: hsl(228, 100%, 80%);
  --link-color-hover: hsl(230, 100%, 90%);
  --link-color-focus-active: hsl(230, 65%, 85%);

  /* Header */
  --header-bg-color: hsl(200, 10%, 20%);

  /* Sections */
  /* --section-bg-color-even: var(--bg-color) */
  --section-bg-color-odd: hsl(206, 10%, 15%);
  --section-border-color: hsl(230, 40%, 95%);
  --section-li-bg-color: hsl(230, 30%, 30%);

  /* Projects */
  --projetcs-border-color: hsl(200, 20%, 30%);

  --projetcs-bg-color-hover: hsl(206, 10%, 20%);

  --projetcs-bg-color-focus-active: hsl(206, 15%, 30%);

  /* Footer */
  --footer-bg-color: hsl(200, 60%, 20%);
}

[data-theme="light"] {
  color-scheme: light;
  --bg-color-outside: hsl(200, 5%, 80%);
  --bg-color: hsl(200, 10%, 90%);
  --text-color: hsl(0, 0%, 0%);
  --accessibility-focus-color: hsl(0, 0%, 0%);

  /* Buttons */
  --button-bg-color: hsla(0, 0%, 0%, 0);
  --button-border-color: hsl(230, 75%, 11%);
  --button-text-color: hsl(0, 0%, 0%);

  --button-bg-color-hover: hsl(231, 74%, 15%);
  --button-border-color-hover: transparent;
  --button-text-color-hover: hsl(0, 0%, 100%);

  --button-border-color-focus-active: transparent;
  --button-bg-color-focus-active: hsl(232, 79%, 9%);
  --button-text-color-focus-active: hsl(0, 0%, 100%);

  /* Links */
  --link-color: hsl(230, 67%, 19%);
  --link-color-hover: hsl(230, 73%, 16%);
  --link-color-focus-active: hsl(230, 57%, 30%);

  /* Header */
  --header-bg-color: hsl(200, 40%, 90%);

  /* Sections */
  /* --section-bg-color-even: var(--bg-color) */
  --section-bg-color-odd: hsl(0, 0%, 80%);
  --section-border-color: hsl(230, 76%, 6%);
  --section-li-bg-color: hsl(230, 20%, 80%);

  /* Projects */
  --projetcs-border-color: hsl(199, 50%, 51%);

  --projetcs-bg-color-hover: hsl(199, 52%, 68%);

  --projetcs-bg-color-focus-active: hsl(199, 56%, 62%);

  /* Footer */
  --footer-bg-color: hsl(200, 35%, 80%);
}

[data-transition="true"] {
  transition: 0.8s ease-out;
}

:has([data-transition="true"]) * {
  transition: 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

html {
  background-color: var(--bg-color);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;

  min-height: 100vh;
  min-height: 100lvh;
  background-color: var(--bg-color-outside);
  color: var(--text-color);
}

:focus {
  outline: 0.2em solid var(--accessibility-focus-color);
}

/* button */
button,
.button {
  background-color: var(--button-bg-color);
  border: solid 0.1em var(--button-border-color);

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--button-text-color);
  padding: 0.5em;
  text-decoration: none;

  border-radius: 0.5em;
  cursor: pointer;
  z-index: 1;
}

:is(button, .button):hover {
  background-color: var(--button-bg-color-hover);
  border-color: var(--button-border-color-hover);
  color: var(--button-text-color-hover);
}

:is(button, .button):active,
:is(button, .button):focus-visible {
  background-color: var(--button-bg-color-focus-active);
  border-color: var(--button-border-color-focus-active);
  color: var(--button-text-color-focus-active);
}

/* link */
a {
  color: var(--link-color);
  border-radius: 0.5em;
}

a:hover {
  color: var(--link-color-hover);
}

a:active,
a:focus-visible {
  color: var(--link-color-focus-active);
}

main,
header,
footer {
  width: min(120ch, 100%);
  max-width: 100%;
}
