@property --header-color {
  syntax: "<color>";
  initial-value: hsl(0, 0%, 0%);
  inherits: true;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: linear-gradient(0deg, transparent, var(--header-color));

  display: grid;
  grid-template-columns: minmax(0.5em, 1fr) minmax(0, 120ch) minmax(0.5em, 1fr);
  z-index: 100;
}

:root[data-chaging-theme="false"] .header {
  transition: --header-color 1s ease-in-out;
}

/* If theme is light and scrolled */
.header[data-scrolled="true"] {
  --header-color: var(--color-header-gradient);
}

.header > nav {
  grid-column: 2 / 3;

  background-color: hsla(209, 88%, 20%, 0.5);
  backdrop-filter: blur(0.75em);

  box-shadow:
    inset 0.125em 0.125em 0 hsla(209, 53%, 51%, 0.25),
    inset -0.125em -0.125em 0 hsla(209, 83%, 29%, 0.25);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  border-radius: 2.5em;
  margin-block: 0.5em;
}

.header .open_menu {
  flex: 0 0 2.5em;
}

.header_logo,
.header_links {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header_logo > img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  aspect-ratio: 1 / 1;
}

.header_logo > p {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
}

/* @media (max-width: 15em) { */
@media (width < 24rem) {
  .header_logo > p {
    font-size: 1rem;
  }
}

.header_dialog {
  width: unset;
  height: unset;
  max-width: unset;
  max-height: unset;
  border: none;
}

.header_mobile {
  position: fixed;
  inset: 0;

  overflow-y: auto;
  background-color: var(--color-header-mobile-bg);
  padding: 1em;

  display: grid;
  align-content: start;
  gap: 1em;
  z-index: 150;
}

.header_mobile > .toggle_theme_button {
  display: flex;
  align-items: center;
}

.header_dialog.hide {
  animation: 500ms animate_out cubic-bezier(0.5, 0, 0.4, 0.6) forwards;
}

.header_dialog.hide_clicked {
  animation: 400ms animate_out cubic-bezier(0.5, 0.5, 0, 1) forwards;
}

.header_dialog.show {
  animation: 500ms animate_in cubic-bezier(0.9, 0.1, 0.3, 0.5) forwards;
}

@keyframes animate_in {
  0% {
    clip-path: circle(0 at calc(100% - 2.25em) 2.25em);
    background-color: var(--color-header-mobile-bg-animating);
  }
  100% {
    clip-path: circle(150vmax at calc(100% - 2.25em) 2.25em);
  }
}

@keyframes animate_out {
  0% {
    clip-path: circle(150vmax at calc(100% - 2.25em) 2.25em);
  }
  100% {
    clip-path: circle(0 at calc(100% - 2.25em) 2.25em);
    background-color: var(--color-header-mobile-bg-animating);
  }
}

.close_button {
  justify-self: end;
}
