.projects {
  background-color: var(--color-bg-section-projects);
}

.projects_div {
  width: min((40ch + 1em) * 5, 100%);
  margin-inline: auto;
  overflow: hidden;

  position: relative;
}

.projects_div_scroll {
  display: flex;
  gap: 1em;
  padding: 1em;
  overflow-x: scroll;

  --size: 10em;

  scroll-snap-type: x mandatory;
  justify-content: safe center;
  scrollbar-width: none;
}

.dots {
  display: flex;
  gap: 0.25em;
  justify-content: safe center;
  cursor: pointer;
  position: relative;

  margin-inline: auto;
  width: fit-content;
}

.dots > span {
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
  border: solid 0.1em var(--color-outline-section-projects-dots);
  border-radius: 50%;

  &:hover {
    background-color: hsl(10, 10%, 90%, 0.2);
  }
}

.selectedDot {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5em;
  height: 0.5em;
  background-color: var(--color-filled-section-projects-dots);
  background-color: hsl(10, 10%, 90%);
  border-radius: 0.5em;
  pointer-events: none;
}

.selectedDot[data-changing="true"] {
  animation: 0.5s changingStep cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes changingStep {
  0% {
    background-color: hsl(10, 10%, 90%);
  }
  50% {
    background-color: hsl(10, 60%, 80%);
  }
  100% {
    background-color: hsl(10, 10%, 90%);
  }
}

.projects_div_scroll[data-scroll="left"] {
  mask-image: linear-gradient(
    90deg,
    hsl(0, 0%, 0%) 0,
    hsl(0, 0%, 0%) calc(100% - var(--size)),
    transparent 100%
  );
}

.projects_div_scroll[data-scroll="right"] {
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    hsl(0, 0%, 0%) var(--size),
    hsl(0, 0%, 0%) calc(100% - var(--size)),
    hsl(0, 0%, 0%) 100%
  );
}

.projects_div_scroll[data-scroll="middle"] {
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    hsl(0, 0%, 0%) var(--size),
    hsl(0, 0%, 0%) calc(100% - var(--size)),
    transparent 100%
  );
}

.projects button {
  color: hsl(0, 0%, 90%);
  font-size: 1rem;
  padding: 0em;
  width: 3em;
  height: 3em;
  border-radius: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: transparent;
  border: none;
  background-color: var(--color-section-projects-button-bg);

  &:hover {
    background-color: var(--color-section-projects-button-bg-hover);
    border-color: transparent;
  }

  &:is(:active, :focus-visible) {
    background-color: var(--color-section-projects-button-bg-focus);
    border-color: transparent;
  }
}

.goleft,
.goright {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.goleft {
  left: 1em;
}

.goright {
  right: 1em;
}
