* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: "Montserrat", system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

:focus {
  outline: 0.25em solid var(--color-outline-focus);
}

html {
  scroll-padding-top: 4em;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-color: var(--color-bg-html);
}

body {
  background-color: var(--color-bg-body);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Aleo", "Merriweather", Georgia, serif;
}
