@font-face {
  font-family: "FontAwesome900";
  src: url("./assets/icons/fa-solid-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome400";
  src: url("./assets/icons/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesomeBrands400";
  src: url("./assets/icons/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.icons::before {
  display: inline-block;
  font-family: "FontAwesome900";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5rem;
  font-size: 1em;
  width: 1.25em;
  line-height: 1.25em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icons.no_fill::before {
  font-family: "FontAwesome400";
}

.icons.brands::before {
  font-family: "FontAwesomeBrands400";
}

.icons.nomargin::before {
  margin-right: 0;
}

.icons.chevron_down::before {
  content: "\f078";
}

.icons.html5::before {
  content: "\f13b";
}

.icons.css::before {
  content: "\e6a2";
}

.icons.square_js::before {
  content: "\f3b9";
}

.icons.git::before {
  content: "\f1d3";
}

.icons.php::before {
  content: "\f457";
}

.icons.database::before {
  content: "\f1c0";
}

.icons.trello::before {
  content: "\f181";
}

.icons.figma::before {
  content: "\f799";
}

.icons.github::before {
  content: "\f09b";
}

.icons.square_linkedin::before {
  content: "\f08c";
}
