a.default_styles {
  color: hsl(209, 81%, 77%);
}

a.no_default_styles {
  text-decoration: none;
}

button,
.button {
  text-decoration: none;
  color: white;

  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: transparent;
  border: solid 0.125em var(--color-outlined-button);
  border-radius: 2em;
  cursor: pointer;

  &:hover {
    background-color: var(--color-outlined-button-hover);
    border-color: transparent;
  }

  &:is(:active, :focus-visible) {
    background-color: var(--color-outlined-button-focus);
    border-color: transparent;
  }
}

.square {
  width: 2.5em;
  height: 2.5em;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
