@property --transition-top {
  syntax: "<length> | <percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --transition-left {
  syntax: "<length> | <percentage>";
  initial-value: 50%;
  inherits: true;
}

/* MARK: Dark theme
*/
:root[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-html: hsl(209, 88%, 20%);
  --color-bg-body: hsl(207, 91%, 4%);
  --color-text: hsl(0, 0%, 90%);
  --color-text-inverse: hsl(0, 0%, 10%);
  --color-outline-focus: hsl(0, 0%, 100%);

  --color-header-gradient: hsl(207, 91%, 4%);
  --color-header-bg: hsla(209, 88%, 20%, 0.5);
  --color-header-box-shadow-light: hsla(209, 53%, 51%, 0.25);
  --color-header-box-shadow-shadow: hsla(209, 83%, 29%, 0.25);

  --color-header-mobile-bg: var(--color-bg-html);
  --color-header-mobile-bg-animating: hsl(209, 80%, 30%);

  --color-outlined-button: hsl(209, 69%, 32%);
  --color-outlined-button-hover: hsl(209, 69%, 32%);
  --color-outlined-button-focus: hsl(209, 85%, 13%);

  --color-bg-filled-button: hsl(207, 87%, 12%);
  --color-bg-filled-button-hover: hsl(207, 82%, 17%);
  --color-bg-filled-button-focus: hsl(207, 77%, 23%);

  --color-bg-section-projects: hsl(208, 90%, 8%);
  --color-outline-section-projects-dots: hsla(0, 0%, 100%, 0.6);
  --color-filled-section-projects-dots: hsla(0, 0%, 100%, 1);

  --color-section-skills-outline: hsla(209, 30%, 70%, 0.2);

  --color-section-projects-button-bg: hsl(209, 69%, 32%);
  --color-section-projects-button-bg-hover: hsl(209, 69%, 32%);
  --color-section-projects-button-bg-focus: hsl(209, 85%, 13%);

  --color-section-projects-project-bg: hsl(208, 88%, 13%);
  --color-section-projects-project-bg-hover: hsl(208, 80%, 18%);
  --color-section-projects-project-bg-focus: hsl(208, 76%, 22%);
  --color-section-projects-project-img-bg: hsl(208, 74%, 28%);
  --color-section-projects-project-tag-bg: hsl(207, 65%, 26%);

  --color-footer-bg: hsl(207, 82%, 15%);
}

/* MARK: Light theme
*/
:root[data-theme="light"] {
  color-scheme: light;
  --color-bg-html: hsl(209, 28%, 53%);
  --color-bg-body: hsl(203, 29%, 95%);
  --color-text: hsl(0, 0%, 10%);
  --color-text-inverse: hsl(0, 0%, 90%);
  --color-outline-focus: hsl(0, 0%, 0%);

  --color-header-gradient: hsl(203, 29%, 95%);
  --color-header-bg: hsla(209, 89%, 17%, 0.5);
  --color-header-box-shadow-light: hsla(209, 53%, 51%, 0.25);
  --color-header-box-shadow-shadow: hsla(209, 83%, 29%, 0.25);

  --color-header-bg: hsla(209, 92%, 21%, 0.6);
  --color-header-box-shadow-light: hsla(209, 97%, 21%, 0.25);
  --color-header-box-shadow-shadow: hsla(209, 86%, 8%, 0.25);

  --color-header-mobile-bg: var(--color-bg-html);
  --color-header-mobile-bg-animating: hsl(209, 58%, 80%);

  --color-outlined-button: hsl(209, 55%, 70%);
  --color-outlined-button-hover: hsl(209, 42%, 62%);
  --color-outlined-button-focus: hsl(209, 47%, 45%);

  --color-bg-filled-button: hsl(206, 55%, 85%);
  --color-bg-filled-button-hover: hsl(206, 49%, 69%);
  --color-bg-filled-button-focus: hsl(207, 38%, 50%);

  --color-bg-section-projects: hsl(204, 53%, 93%);
  --color-outline-section-projects-dots: hsla(0, 0%, 10%, 0.6);
  --color-filled-section-projects-dots: hsla(0, 0%, 10%, 1);

  --color-section-skills-outline: hsla(208, 70%, 30%, 0.2);

  --color-section-projects-button-bg: hsl(209, 64%, 34%);
  --color-section-projects-button-bg-hover: hsl(209, 51%, 44%);
  --color-section-projects-button-bg-focus: hsl(209, 81%, 20%);

  --color-section-projects-project-bg: hsl(210, 50%, 87%);
  --color-section-projects-project-bg-hover: hsl(209, 51%, 76%);
  --color-section-projects-project-bg-focus: hsl(209, 45%, 66%);
  --color-section-projects-project-img-bg: hsl(208, 37%, 51%);
  --color-section-projects-project-tag-bg: hsl(208, 58%, 69%);

  --color-footer-bg: hsl(205, 71%, 93%);
}

::view-transition-new(old) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: 500ms new ease-in;
}

@keyframes new {
  0% {
    clip-path: circle(0vmax at var(--transition-left) var(--transition-top));
  }
  100% {
    clip-path: circle(150vmax at var(--transition-left) var(--transition-top));
  }
}
