.footer {
  background-color: var(--color-footer-bg);
  padding-block: 1em;
  margin-top: 4em;
}

.footer > p {
  display: flex;
  justify-content: center;
  gap: 0.5ch;
  text-align: center;
}

.footer .react {
  display: flex;
}

.footer .react::before {
  margin-right: 0.5ch;
}
