.hero {
  position: relative;

  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;

  isolation: isolate;
}

.hero *:not(a) {
  color: hsl(0, 0%, 100%);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background: linear-gradient(
    0.5turn,
    hsla(0, 0%, 0%, 0.8) 1em,
    hsla(0, 0%, 0%, 0.3) 50%,
    hsla(0, 0%, 0%, 0.8) calc(100% - 1em)
  );
}

.hero > img {
  position: absolute;
  inset: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  display: block;

  background-image: url("/assets/images/background-small.jpg");
  background-size: cover;
  background-position: center;

  object-fit: cover;
}

.hero_middle {
  display: grid;
  gap: 1em;

  position: relative;
  backdrop-filter: blur(0.25em);
  padding: 1em;
  border-radius: 1em;

  background-color: hsla(0, 0%, 0%, 0.6);
}

.hero_middle > h1 {
  white-space: normal;
  text-wrap: balance;
}

.hero_middle > p {
  max-width: 60ch;
}

.hero_blinker {
  display: inline-block;
  height: 1lh;
  vertical-align: text-bottom;
  background-color: hsl(0, 0%, 100%);
  width: 0.5ch;
  margin-left: 0.5ch;

  animation: 400ms blink cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
}

@keyframes blink {
  0% {
    background-color: hsla(0, 0%, 100%, 0);
  }
  100% {
    background-color: hsl(0, 0%, 100%);
  }
}

.hero > #go_down {
  position: absolute;
  bottom: 1em;
  left: 50%;
  translate: -50%;

  padding: 0.5em;
  color: hsl(0, 0%, 100%);
  border: 0.125em solid hsla(0, 0%, 100%, 0.6);
  border-radius: 2em;

  transition: 0.5s ease-out;
  transition-property: bottom;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  &:is(:active, :focus-visible) {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.hero > p {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.75em;

  transition: 0.5s ease-out;
  transition-property: right, translate;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1ch;
}

@media (width < 50em) {
  .hero > #go_down {
    bottom: 2em;
  }
  .hero > p {
    left: 0;
    right: 0;
  }
}
