.project_card {
  flex: 0 0 clamp(min(40ch, calc(100% - 1em)), 10ch + 1vw, 100vw);

  scroll-snap-align: center;
  scroll-snap-stop: always;

  display: grid;
  grid-template-rows: auto 1fr;

  border-radius: 0.5em;
  background-color: var(--color-section-projects-project-bg);

  box-shadow: 0.25em 0.25em 0.25em -0.125em var(--color-section-projects-project-shadow);
}

.project_card > img {
  border-radius: 0.5em 0.5em 0 0;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  background-color: var(--color-section-projects-project-img-bg);
  font-style: italic;
  width: 100%;
  text-shadow: 0.125em 0.125em 0 var(--color-text-inverse);
  color: transparent;

  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.contents {
  padding: 0.5em;
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-content: start;
  gap: 1.25em;
}

.header {
  display: grid;
  gap: 0.5em;
  align-content: start;
}

.header_tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tittle {
  font-weight: 700;
}

.type {
  padding: 0.25em 0.5em;
  border: solid 0.125rem var(--color-section-projects-project-type-outline);
  border-radius: 1em;
  font-size: 0.8rem;
  font-weight: 700;
}

.description {
  padding-bottom: 0.25em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.tag {
  padding: 0.25em 0.5em;
  min-width: 5ch;
  line-height: 1;
  border: 0.125em solid var(--color-section-projects-project-tag-bg);
  background-color: var(--color-section-projects-project-tag-outline);
  border-radius: 1em;
  text-align: center;
  display: block;
}

.repository {
  display: grid;
  gap: 0.75em;
}

.repository_tittle {
  display: flex;
  justify-content: space-between;
}

.repository_tittle_tittle {
  display: flex;
  font-weight: 700;
}

.commits {
  display: grid;
  gap: 0.5em;
  position: relative;
}

.commits::before {
  content: "";
  position: absolute;
  left: calc(0.5em - 0.125em / 2);
  top: 0.5em;
  bottom: 0.5em;
  width: 0.125em;
  background-color: var(--color-section-projects-project-commits-line);
}

.commits p {
  position: relative;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commits p::before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: calc(50% - 0.25em);
  background-color: var(--color-section-projects-project-commits-dots);
  width: 0.5em;
  height: 0.5em;

  border-radius: 0.5em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12em, 100%), 1fr));
  gap: 1em;
}

.buttons > a {
  background-color: var(--color-section-projects-project-links);
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--color-section-projects-project-links-hover);
  }

  &:is(:active, :focus-visible) {
    background-color: var(--color-section-projects-project-links-focus);
  }
}

.collaborations {
  display: grid;
  gap: 0.75em;
}

.collaborations_tittle {
  display: flex;
  font-weight: 700;
}

.collaborations_persons {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
}

.collaborations_person {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 0.5em;
  grid-column: span 3;
}

.collaborations_person:not(:last-child) {
  padding-bottom: 0.5em;
  border-bottom: solid 0.125em var(--color-section-projects-project-collabs-outline);
}

.collaborations_person_name {
  font-weight: 600;
}

.collaborations_link {
  color: var(--color-text);
  display: flex;
  padding: 0.25em 0.5em;
}

@media (width < 30em) {
  .collaborations_persons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .collaborations_person {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: span 2;
    grid-row: span 3;
  }

  .collaborations_person_name {
    text-align: right;
  }

  .collaborations_link {
    justify-self: center;
    justify-content: center;
    grid-column: span 2;
  }
}
