.project_card {
  flex: 0 0 clamp(min(40ch, calc(100% - 1em)), 10ch + 1vw, 100vw);

  scroll-snap-align: center;

  display: grid;
  grid-template-rows: auto 1fr;

  border-radius: 0.5em;
  overflow: hidden;
  background-color: var(--color-section-projects-project-bg);

  &:hover {
    background-color: var(--color-section-projects-project-bg-hover);
  }

  &:is(:active, :focus-visible) {
    background-color: var(--color-section-projects-project-bg-focus);
  }
}

.project_card > img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  background-color: var(--color-section-projects-project-img-bg);
  font-style: italic;
}

.project_card > span {
  padding: 0.5em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  gap: 0.5em;
}

.project_card_tittle {
  font-weight: 700;
}

.project_card_description {
  padding-bottom: 0.25em;
}

.project_card_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.project_card_tags > * {
  padding: 0.3em 0.75em;
  min-width: 5ch;
  line-height: 1;
  background-color: var(--color-section-projects-project-tag-bg);
  border-radius: 1em;
  text-align: center;
}
