.contact > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  align-items: center;
}

@media (width < 35em) {
  .contact > div {
    grid-template-columns: 1fr;
  }
}

.contact a {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.5em;
  background-color: var(--color-bg-filled-button);
  border-radius: 0.5em;

  &:hover {
    background-color: var(--color-bg-filled-button-hover);
  }

  &:is(:active, :focus-visible) {
    background-color: var(--color-bg-filled-button-focus);
  }
}

.contact a::before {
  font-size: 2rem;
}
